[xfdesktop-version-4.10.3+-rcfile_format]
4.10.3+=true

[/home/plr/Desktop/Notes]
row=0
col=1

[/home/plr/Desktop/CompTIA ITF+ (Exam FCO-U61)]
row=1
col=17

[3DA8-A194]
row=2
col=0

[CEB8CFF6B8CFDADB]
row=1
col=0

[Trash]
row=0
col=17

[/home/plr]
row=0
col=0

